.nav {
  background-color: #1f1f1f;
  border-radius: 0.5rem;
  padding: 1rem;
}

.nav__list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav__item {
  display: flex;
  align-items: center;
  background-color: #213547;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.nav__link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav__link:hover {
  color: #535bf2;
}

.nav__in-cart {
  color: #90ee90;
  margin-left: 0.3rem;
}
