.item-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 768px) {
  .item-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .item-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

.item-list__link {
  text-decoration: none;
}

.item-list__empty {
  text-align: center;
  color: #fff;
  font-size: 1.2rem;
}
